<div class="col-md-12 column" >
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">直接填写</a>
    </li>
    <li>
      <a href="../webusers/sign_up">注册</a>
    </li>
    <li class="">
      <a href="../webusers/sign_in">登陆</a>
    </li>
  </ul>
</div>