<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron well">
        <h1>
          快递单填写完成！
        </h1>
      </div>
      <div class="row clearfix">
        <div class="col-md-6 column">
          <button type="button" class="btn btn-lg btn-success btn-block">继续填写新单</button>
        </div>
        <div class="col-md-6 column">
        </div>
      </div>
    </div>
  </div>
</div>